@font-face {
  font-family: "vox-regular14";
  src: url(../font/vox-regular14.ttf);
}

@font-face {
  font-family: "mvideolight";
  src: url(../font/mvideolight.ttf);
}

@font-face {
  font-family: "vox-regular15";
  src: url(../font/vox-regular15.ttf);
}

@font-face {
  font-family: "vcricketnormal";
  src: url(../font/cricketnormal.ttf);
}

@font-face {
  font-family: "orbitron-ligh";
  src: url(../font/orbitron-ligh.ttf);
}

@font-face {
  font-family: "segoeui-semilight";
  src: url(../font/segoeui-semilight.ttf);
}

body {
  width: 900px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 0px;
  margin-left: 1em;
  margin-top: 0em;
}

.logo img {
  height: 100px;
  transform: scale(-1, 1);
}

.menu a, .bat a {
  color: black;
  text-decoration: none;
  background-color: rgb(27, 164, 214);
  transition: all 0.5s ease;
  margin: auto;
  width: 150px;
  margin-bottom: 20px;
  display: block;
}

.bat, .menu a {
  font-size: 15pt;
  font-family: "vox-regular15";
  text-align: center;
  padding-left: 0%;
}

.menu a {
  display: inline;
  background-color: rgb(27, 164, 214);
  padding: 10px;
  transition: all 0.5s ease;
}

.url_cat, .menu a {
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
}

h2, .header, h1 {
  text-align: center;
}

.header, h1 {
  font-family: "vox-regular14";
  background-color: rgb(27, 164, 214);
  padding: 6px;
  position: static;
}

.info, .info_cat {
  font-size: 13pt;
  text-align: justify;
  width: inherit;
  display: inline;
}

.clear {
  clear: both;
}

.wrapper {
  float: left;
  margin: 5px;
  border: 2px solid white;
  width: 200px;
  transition: all 0.5s ease;
}

.wrapper:hover {
  border: 2px solid black;
}

.image img {
  height: 150px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.annotation {
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0;
}

.wrapper:hover, .bat a:hover {
  text-decoration: underline;
}

.i_img {
  float: left;
  margin-bottom: 1em;
  background-size: contain;
}

.i_img img {
  height: 450px;
}

.h_img img {
  width: 375px;
  margin: 5px;
}

.footer {
  background-color: rgb(27, 164, 214);
  text-align: center;
  padding: 10px;
  bottom: 0px;
  position: static;
}

.cat, legend {
  text-align: center;
  font-size: 13pt;
  font-family: "mvideolight";
}

.news {
  float: left;
}

.ent, #firstname, #email, #team, #about, select {
  float: left;
  width: 350px;
  display: block;
  font-size: 13px;
  resize: none;
  margin-bottom: 10px;
}

form {
  padding-right: 80px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  font-family: "segoeui-semilight";
}

#firstname:focus, #email:focus, #team:focus, #about:focus {
  background-color: rgb(27, 164, 214);
  color: white;
  font-size: 20px;
}

#firstname:valid, #email:valid, #team:valid, #about:valid {
  text-transform: capitalize;
}

.info_cat p::first-letter {
  font-size: 25px;
  color: green;
  font-family: "orbitron-ligh";
}

.menu a:hover {
  color: white;
}

.menu a:hover {
  background-color: green;
}

.bat a:hover, i a:hover {
  background: green;
  color: white;
}

table {
  width: 100%;
  height: auto;
  margin-top: 30px;
  border-top: 1.5px solid black;
}

table, tr, td {
  vertical-align: top;
}
