!important ul {
  list-style: none;
  margin: 0 auto;
}

.menu li {
  display: inline;
  font-size: 15pt;
}

.zag {
  text-align: center;
}

a {
  text-decoration: none;
}

.info {
  font-size: 13pt;
}

.clear {
  clear: both;
}

.i_img {
  float: left;
  margin: 10px;
  height: 400px;
  background-size: cover;
}

footer {
  text-align: center;
}

.cat {
  text-align: center;
  font-size: 13pt;
}

.wrapper {
  float: left;
}
.image img {
  width: 300px;

}
.annotation {
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0;
}
